certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.23
django-allauth==0.33.0
django-bootstrap3==9.0.0
django-forms-bootstrap==3.1.0
django-widget-tweaks==1.4.1
idna==2.6
oauthlib==2.0.4
python-openid==2.2.5
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
urllib3==1.22
