{% extends 'waffo/base.html' %}


{% block contenu %}
    <div class="container-fluid alert alert-dark" role="alert">
      <div class="row justify-content-md-center">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3 container-fluid">
            <h2>Login</h2>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Log in" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <p>Not  a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
    </div>

{% endblock %}
