
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Apps</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
	      <!--<li><a href="#"><i class="fa fa-desktop" aria-hidden="true"></i> Watch</a></li>-->
	      <li><a href="#"><i class="fa fa-television" aria-hidden="true"></i> Watch</a></li>
	      <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i> Change</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Sign Up</a></li>
	      <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
	      <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
	      <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
	    </ul>
	  </div>
	</nav>


