
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="{% url 'desktop' %}">Apps</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <!--<li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>-->
	      <!--<li><a href="#"><i class="fa fa-desktop" aria-hidden="true"></i> Watch</a></li>-->
	      <li><a href="#"><i class="fa fa-television" aria-hidden="true"></i> Watch</a></li>
	      <li><a href="#"><i class="fa fa-btc" aria-hidden="true"></i> Change</a></li>
	      <!--<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i> Change</a></li>-->
	    </ul>
	    <ul class="nav navbar-nav navbar-right">

			{% if user.is_authenticated %}

			<li>
				<a href="#"><i class="fa fa-user" aria-hidden="true"></i> {{ user.username }} Profile</a>
			</li>
			{% else %}
				<li>
					<a href="#"><i class="fa fa-user" aria-hidden="true"></i> Sign Up</a>
				</li>
				<!--<li>-->
					<!--<a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>-->
				<!--</li>-->



			{% endif %}

			<!--<div class="btn-group open">-->
			  <!--<a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> {{ user.username }} Profile</a>-->
			  <!--<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">-->
				<!--<span class="fa fa-caret-down" title="Toggle dropdown menu"></span>-->
			  <!--</a>-->
			  <!--<ul class="dropdown-menu">-->
				<!--<li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>-->
				<!--<li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>-->
				<!--<li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>-->
				<!--<li class="divider"></li>-->
				<!--<li><a href="#"><i class="fa fa-unlock"></i> Make admin</a></li>-->
			  <!--</ul>-->
			<!--</div>-->




	      <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
	      <!--<li>-->
			<!---->
			<!--&lt;!&ndash;<a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>&ndash;&gt;-->
		  <!--</li>-->
	      <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
	    </ul>
	  </div>
	</nav>


