<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
	<!--[if lt IE 9]>
	    <script src="http://github.com/aFarkas/html5shiv/blob/master/dist/html5shiv.js"></script>
	<![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		{% block meta %}{% endblock %}


        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

		<!-- Optional theme -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.css' %}">

		<link rel="stylesheet" href="{% static 'assets/css/base_custom.css' %}">

        <title>WAFFO | {% block title %}{% endblock %}</title>

    </head>

    <body>
    	<div class="container"><!-- container 1 -->
			<div class="page-header">
				<div class="row">
					<div class="column">
						<div class="col-md-2">
							<img src="{% static 'assets/img/waffo-logo.jpeg' %}" class="img-thumbnail img-responsive" alt="WAFFO Logo" width="280" heigth="200" />
						</div>
						<div class="col-md-10">
							<h1 class="text-center titre-custom"><span>Web App </span><small>FFO</small></h1>
						</div>
					</div><!--column-->
				</div><!--row-->
			</div><!--page-header-->

			{% block navigation %}
				<ul class="nav nav-pills nav-justified">
					<li role="presentation" {% block nav_acceuil %} {% endblock %}><a href="/waffo/"><p><span class="glyphicon glyphicon-home"></span> Acceuil</p></a></li>
					<li role="presentation" {% block nav_about %} {% endblock %} ><a href="/waffo/about/"><p><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</p></a></li>
					<li role="presentation" {% block nav_services %} {% endblock %} ><a href="/waffo/services/"><p><span class="glyphicon glyphicon-flag"></span> Services</p></a></li>
					<li role="presentation" {% block nav_produits %} {% endblock %} ><a href="/waffo/produits/"><p><span class="glyphicon glyphicon-barcode"></span> Produits</p></a></li>
					<li role="presentation" {% block nav_references %} {% endblock %} ><a href="/waffo/references/"><p><span class="glyphicon glyphicon-globe"></span> References</p></a></li>
					<li role="presentation" {% block nav_contacts %} {% endblock %} ><a href="/waffo/contact/"><p><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</p></a></li>
				</ul>
			{% endblock %}




		</div><!-- container 1 -->

			<div class="jumbotron">
				<div class="container">

				<div class="row" align="center"> <span><h2>Welcome to Web App FFO</h2>{% block special-content %}{% endblock %}</span></div>

				<div class="row">

					<div class="col-lg-12"><!--Carousel_Area-->

						<!--<h1>Django Simple Login</h1>-->


					</div>

					</div><!--col-lg-5--><!--Carousel_Area-->

				</div><!--row-->

					<div class="row">
						<div class="col-md-5 col-md-pull-7">
							<!--<p><a href="{% url 'auth_login' %}">Log in</a> again.</p>-->

						</div>
						<div class="col-md-7 col-md-push-5">
							{% if user.is_authenticated %}
							  Hi <span>{{ user.username }}</span>!
							  <a href="{% url 'auth_logout' %}">logout</a>
							{% else %}
								<!--<a href="{% url 'auth_login' %}">login</a>-->
								<p><a class="btn btn-info btn-lg" href="{% url 'auth_login' %}" role="button">Log in here.</a></p>
							{% endif %}

						</div>

					</div>

					 <!--D'Aide a la Definition des Besoins du Client-->
				</div>

			</div><!--jumbotron-->


		<div class="container"><!-- container 2 -->

			<div class="row"><!-- Central container -->

				<div class="col-lg-3"><!-- Sidebar -->
					{% block sidebar %}
						{% include 'waffo/articles.html' with list_info=list_info list_astuce=list_astuce %}
					{% endblock %}
				</div><!-- Sidebar -->
				<div class="col-lg-9"><!-- Page Content -->
					{% block content %}{% endblock %}
					{% block contenu %}{% endblock %}
					<div class="row">
						<div class="col-md-4">
						</div><!--col-md-4-->
						<div class="col-md-8">
							{%block pagination %}
							<nav>
							  <ul class="pagination">
							    <li>
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
							    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							  </ul><!--pagination-->
							</nav><!--nav-->
							{%endblock%}
						</div><!--col-md-8-->
					</div><!--row-->
				</div><!-- Page Content -->

			</div><!-- Central container -->


			<div class="row"><!-- row -->
				<div class="col-lg-4"></div>
				<div class="col-lg-8">
					<ol class="breadcrumb">
						<li {% block bc_acceuil %} {% endblock %}>{% block bc_href_acceuil %}<a href="/waffo/"><span class="glyphicon glyphicon-home"></span> Acceuil</a>{% endblock %}</li>
						<li {% block bc_about %} {% endblock %}>{% block bc_href_about %}<a href="/waffo/about/"><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</a>{% endblock %}</li>
						<li {% block bc_services %} {% endblock %}>{% block bc_href_services %}<a href="/waffo/services/"><span class="glyphicon glyphicon-flag"></span> Services</a>{% endblock %}</li>
						<li {% block bc_produits %} {% endblock %}>{% block bc_href_produits %}<a href="/waffo/produits/"><span class="glyphicon glyphicon-barcode"></span> Produits</a>{% endblock %}</li>
						<li {% block bc_references %} {% endblock %}>{% block bc_href_references %}<a href="/waffo/references/"><span class="glyphicon glyphicon-globe"></span> References</a>{% endblock %}</li>
						<li {% block bc_contacts %} {% endblock %}>{% block bc_href_contacts %}<a href="/waffo/contact/"><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</a>{% endblock %}</li>
					</ol>
				</div>
			</div>



    	</div><!-- container 2 -->

		<footer>
			<div class="container"><!-- container 3 -->
		    	<div class="row">
		    		<div class="col-md-5">

		    		</div>
		    		<div class="col-md-7">
		    			<p>@ Copyrigth 2017 - <em>WAFFO</em>Solutions</p>
		    		</div>
		    	</div>
		    </div><!-- container 3 -->
		</footer>
		<!-- Latest compiled and minified JavaScript -->

		<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.js' %}"></script>
		<script type="text/javascript" language="JavaScript" src="{% static 'assets/js/jquery-3.1.1.js' %}"></script>
		{% block javascript %}
			<script type="text/javascript" language="JavaScript" src="{% static 'assets/js/waffo_maj.js' %}"></script>
		{% endblock %}
		<script>
			$(document).ready(function () {
			  $('[data-toogle="tooltip"]').tooltip()
			});
		</script>

    </body>

</html>
