/* line 1, ../sass/base.sass */
.container-fluid {
  /*background-color: #EDE6E6 */
  /*background-color: #EFF7F7 */
}
/* line 5, ../sass/base.sass */
.container-fluid #postfeed {
  background-color: #D4E5E6;
  /*#F6EEEE */
  padding: 10px;
}
/* line 11, ../sass/base.sass */
.container-fluid #blogfeed {
  background-color: #D3F5F6;
  padding: 10px;
}
/* line 16, ../sass/base.sass */
.container-fluid .update {
  background-color: #C0C0C0;
  border: 1px solid black;
  margin: 5px 5px 5px 5px;
}
/* line 21, ../sass/base.sass */
.container-fluid .update img {
  margin: 10px 10px 10px 10px;
}
/* line 24, ../sass/base.sass */
.container-fluid .card {
  border: 1px solid black;
}

/* line 27, ../sass/base.sass */
nav.navbar {
  background-color: #FAF9E0;
  /*background-color: #1E0101 */
}

/* line 31, ../sass/base.sass */
nav.taskbar {
  background-color: #0E6F74;
}
