* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
header
{
    position: fixed;
    top:0px;
    width: 100%;
    heigth: 50px;
    #background-color: navy;
    background-image: url('images/ciel_gare.jpg');
    text-align: center;
    color: red;
    z-index: 1;
}
body
{
    font-familly: "Times New Roman", serif;
    # Arial, "Arial Black", "Comic Sans MS", "Courier New", Georgia, Impact, "Times New Roman", "Trebuchet MS", Verdana, serif;
    border: 1px solid red;
    #margin-top: 5em;
    margin-top: 90px;
    margin-bottom: 4em;
}
nav
{
    display: inline-block;
    vertical-align: top;
    #float: left;
    width: 15%;
    border: 1px solid blue;
    margin: 0.3em;
}
nav ul {
    list-style: square;
}
nav h1 {
    display: block;
    width: 50%;
    margin: auto;
    top: 10px;
    background-color: navy;
    color: lime;
    text-align: center;
}
#container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid green;
    margin-top: 0.3em;
    padding: 0.3em;
    margin-left: 0.3em;
    width: 83%;
    #overload: auto;
}
section
{
    position: relative;
    border: 1px solid black;
    #vertical-align: top;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-rigth: auto;
    padding: 0.3em;
    background-color: silver;
    overflow: auto;
    top: 0.2em;
    left: 0.2em;
}
article{
    position: absolute;
    top: 50px;
    left: 5px;
    rigth: 105px;
    bottom: 10px;
    background-color: teal;
    color: yellow;
    min-height: 50%;
    min-width: 100%;
}
aside {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: olive;
    width: 100px;
    height: 100px;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border: 1px solid green;
    #background-color: gray;
    background-image: url('images/ciel_en_feu.jpg');
    text-align: center;
    color: white;
    heigth: 50px;
}
