.container-fluid
  background-color: #87CEFA

  #postfeed
    background-color: #B0E0E6
    padding: 10px


  #blogfeed
    background-color: #AFEEEE
    padding: 10px


  .update
    background-color: #C0C0C0
    border: 1px solid black
    margin: 5px 5px 5px 5px

    img
      margin: 10px 10px 10px 10px

  .card
    border: 1px solid black