.container-fluid
  background-image: url('https://unsplash.it/2000/1500/?random')

  #postfeed
    background-image: url('https://unsplash.it/1000/500/?random')


  #blogfeed
    background-image: url('https://unsplash.it/1000/500/?random')


  .update
    background-image: url('https://unsplash.it/750/300/?random')