.container-fluid
  /*background-color: #EDE6E6*/
  /*background-color: #EFF7F7*/

  #postfeed
    background-color: #D4E5E6
    /*#F6EEEE*/
    padding: 10px


  #blogfeed
    background-color: #D3F5F6
    padding: 10px


  .update
    background-color: #C0C0C0
    border: 1px solid black
    margin: 5px 5px 5px 5px

    img
      margin: 10px 10px 10px 10px

  .card
    border: 1px solid black

nav.navbar
  background-color: #FAF9E0
  /*background-color: #1E0101*/

nav.taskbar
  background-color: #0E6F74