{% extends 'desktop.html' %}
{% load static %}
{# extends 'blog/blog-home-base.html' #}

{% block title %} Blog News Feed {% endblock %}

{% block hrefbrandnavbar %}{# url 'blog:create-blog' #}{% endblock%}

<!-- Blog Entries Column -->
{# block blogentries #}
{% block desktop %}

<div class="row">

    <div class="col-lg-3"></div>


    <div class="col-lg-6">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'includes/blog_form.html' %}
            <input type="submit" class="btn btn-info" value="Blog">
        </form>
        <hr />
        {% if all_blogs %}


			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">

					<center><h6 class="my-4">Liste des <strong>Blog(s) </strong> recent(s)</h6></center>
				</div>
			</div>
			<br>




        {% endif %}
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Illustration</th>
                <th>Auteur</th>
                <th>Blog</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>





        {% for blog in all_blogs %}

                <tr>
                    <th scope="row">1</th>
                    <td>

                            <a href="{% url 'blog:blog-detail' blog.slug %}"><img src="{% if blog.illustration %}/blog/media/{{ blog.illustration }}/{% else %}https://unsplash.it/50/50/?random{% endif %}" alt="{{ blog.theme }}" width="50" height="50" class="img-responsive"></a>

                            <!--<a href=""><img src="" alt="{{ blog.theme }}" width="50" height="50" class="img-responsive"></a>-->


                    </td>
                    <td>
                        <a href="{% url 'profile:viewuserprofile' blog.auteur.slug %}">{{ blog.auteur }}</a>
                    </td>
                    <td>
                        <a href="{% url 'blog:blog-detail' blog.slug %}">{{ blog.theme }}</a>
                    </td>
                    <td>
                        {{ blog.date_blog }}
                    </td>
                </tr>

        {% endfor %}









            </tbody>

        </table>

    </div>
    <div class="col-lg-3"></div>
</div>








    <!--<div class="col-md-6">-->
        <!--<br />-->
        <!--<div class="card mb-1">-->
            <!--<center><h6 class="my-4">Create Your <strong>Blog(s)</strong> Here</h6></center>-->
        <!--</div>-->


    <!--{% if user.is_authenticated %}-->
    <!--&lt;!&ndash;<form action="">&ndash;&gt;-->
        <!--&lt;!&ndash;{% csrf_token %}&ndash;&gt;-->
        <!--&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->



            <!--<div class="card mb-2">-->
                <!--<div class="card-body">-->
                    <!--<h6 class="card-title">What's on your mind?</h6>-->
                    <!--<form action="" method="post">-->
                        <!--{# csrf_token #}-->
                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                            <!--&lt;!&ndash;{# for field in form #}&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="fieldWrapper">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ field.label_tag }}{{ field }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                            <!--&lt;!&ndash;{# endfor #}&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--{# include 'includes/blog_form.html' #}-->

                        <!--<input type="submit" value="Create Blog!">-->
                    <!--</form>-->
                <!--</div>-->


            <!--</div>-->



    <!--{% endif %}-->





        <!--<div id="update-holder">-->
        <!--{% if all_blogs %}-->

            <!--{% for blog in all_blogs %}-->


                    <!--&lt;!&ndash; Blog Post &ndash;&gt;-->
            <!--<div class="update">-->
                    <!--<div class="card mb-2" id="{{ blog.id }}">-->
                        <!--<a href="{% url 'blog:blog-detail' blog.slug %}">-->
                            <!--{% if blog.illustration %}-->
                                <!--<img class="card-img-top" src="/blog/media/{{ blog.illustration }}/" alt="Card image cap">-->

                            <!--{% else %}-->
                                <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->

                            <!--{% endif %}-->
                        <!--</a>-->
                        <!--<div class="card-body">-->
                            <!--<h2 class="card-title">{{ blog.theme|title }}</h2>-->
                            <!--<p class="card-text"> Posts Inside ==> blog.slug|title </p>-->
                            <!--<a href="{% url 'blog:blog-detail' blog.slug %}" class="btn btn-info">View On Wall &rarr;</a>-->
                        <!--</div>-->
                        <!--<div class="card-footer text-muted">-->
                            <!--Posted on {{ blog.date_blog }} by <a href="{% url 'profile:viewuserprofile' blog.auteur.slug %}">{{ blog.auteur|title }}</a>-->
                        <!--</div>-->
                    <!--</div>-->

            <!--</div>-->
            <!--{% empty %}-->
                <!--<div class="update">-->
                    <!--&lt;!&ndash; Blog Post &ndash;&gt;-->
                    <!--<div class="card mb-2">-->
                        <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
                        <!--<div class="card-body">-->
                            <!--<h2 class="card-title">Aucun blog Actuellement.</h2>-->
                            <!--<p class="card-text">Revenez prochainement ou alors creez votre propre blog <a href="{% url 'create-post' %}">ici</a>.</p>-->
                            <!--<a href="#" class="btn btn-primary">Read More &rarr;</a>-->
                        <!--</div>-->
                        <!--<div class="card-footer text-muted">-->
                            <!--Posted on January 1, 2017 by <a href="#">W@luc</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


            <!--{% endfor %}-->

        <!--{% else %}-->

            <!--<div class="update">-->
                <!--&lt;!&ndash; Blog Post &ndash;&gt;-->
                <!--<div class="card mb-2" id="0">-->
                    <!--<a href="#">-->
                        <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
                    <!--</a>-->
                    <!--<div class="card-body">-->
                        <!--<h2 class="card-title"> blog.auteur|title </h2>-->
                        <!--<p class="card-text"> blog.theme|title </p>-->
                        <!--<a href="#" class="btn btn-info">View On Wall &rarr;</a>-->
                    <!--</div>-->
                    <!--<div class="card-footer text-muted">-->
                        <!--Posted on blog.date_blog by <a href="#"> blog.auteur|title </a>-->
                    <!--</div>-->


                <!--</div>-->
                <!--<p>No blog yet</p>-->
            <!--</div>-->
        <!--{% endif %}-->
        <!--</div>-->


        <!--&lt;!&ndash; Pagination &ndash;&gt;-->
        <!--<ul class="pagination justify-content-center mb-4">-->
            <!--<li class="page-item"><a class="page-link" href="#">&larr; Older</a></li>-->
            <!--<li class="page-item disabled"><a class="page-link" href="#">Newer &rarr;</a></li>-->
        <!--</ul>-->


    <!--</div>-->


{% endblock %}




{% block taskbar %}
    <li><a href="{% url 'desktop' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a href=""><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>
    <li><a href=""><i class="fa fa-phone" aria-hidden="true"></i> Contact</a></li>
    <li class="active"><a href="{% url 'blog:blog-list' %}"><i class="fa fa-files-o" aria-hidden="true"></i> Blogs</a></li>
    <li><a href="{% url 'blog:blogpost-list' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Posts</a></li>
{% endblock taskbar %}



{% block javascript %}
<script type="text/javascript" language="JavaScript">
    $(document).ready(function(){
        <!--alert("Hello Waff!");-->
        $("#update-holder").prepend('

            <div class="update">
                <!-- Blog Post -->
                <div class="card mb-4 update">

                    <div class="card-body">
                        <h2 class="card-title"> blog.auteur|title </h2>
                        <p class="card-text"> blog.theme|title </p>
                        <a href="" class="btn btn-info">View On Wall &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on blog.date_blog by <a href="#"> blog.auteur|title </a>
                    </div>
                </div>
            </div>
        ');
    })
</script>
{% endblock %}





















