{% extends 'blog/blog-home-base.html' %}

{% block title %} News Feed {% endblock %}

<!-- Blog Entries Column -->
{% block blogentries %}

    <div class="col-md-8">

        <h1 class="my-4">Welcome To <small>Blog App</small></h1>

        {% for blog in all_blog %}


                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">{{ blog.auteur }}</h2>
                        <p class="card-text">{{ blog.theme }}</p>
                        <a href="#" class="btn btn-info">View Wall &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ blog.date_post }} by <a href="#">Start Bootstrap</a>
                    </div>
                </div>


        {% empty %}

                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">Nothing to show.</h2>
                        <p class="card-text">Revenez prochainement.</p>
                        <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on January 1, 2017 by <a href="#">Start Bootstrap</a>
                    </div>
                </div>



        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item"><a class="page-link" href="#">&larr; Older</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Newer &rarr;</a></li>
        </ul>



    </div>
{% endblock %}



{% block centre-page %}{% endblock %}
