{% extends 'blog/blog-home-base.html' %}

{% block title %} Blog News Feed {% endblock %}

{% block hrefbrandnavbar %}{% url 'create-blog' %}{% endblock%}

<!-- Blog Entries Column -->
{% block blogentries %}

    <div class="col-md-6">

        <h1 class="my-4">Welcome To <small>Blog App</small></h1>


{% if user.is_authenticated %}
<!--<form action="">-->
    <!--{% csrf_token %}-->
    <!---->
<!--</form>-->



        <div class="card mb-4">
            <div class="card-body">
                <h6 class="card-title">What's on your mind?</h6>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.label_tag }}{{ field }}
                        </div>

                        {% endfor %}
                    </div>

                    <input type="submit" value="Post!">
                </form>
            </div>


        </div>

        

{% endif %}





        <div id="update-holder">
        {% if all_blogs %}

            {% for blog in all_blogs %}


                    <!-- Blog Post -->
            <div class="update">
                    <div class="card mb-4" id="{{ blog.id }}">
                        <a href="{% url 'blog-detail' blog.slug %}">
                            {% if blog.illustration %}
                                <img class="card-img-top" src="/blog/media/{{ blog.illustration }}/" alt="Card image cap">

                            {% else %}
                                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">

                            {% endif %}
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">{{ blog.theme|title }}</h2>
                            <p class="card-text"> blog.slug|title </p>
                            <a href="{% url 'blogpost-details' blog.slug %}" class="btn btn-info">View On Wall &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on {{ blog.date_blog }} by <a href="{% url 'profile:viewuserprofile' blog.auteur.id %}">{{ blog.auteur|title }}</a>
                        </div>
                    </div>

            </div>
            {% empty %}
                <div class="update">
                    <!-- Blog Post -->
                    <div class="card mb-4">
                        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">Aucun blog Actuellement.</h2>
                            <p class="card-text">Revenez prochainement ou alors creez votre propre blog <a href="{% url 'create-post' %}">ici</a>.</p>
                            <a href="#" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on January 1, 2017 by <a href="#">W@luc</a>
                        </div>
                    </div>
                </div>


            {% endfor %}

        {% else %}

            <div class="update">
                <!-- Blog Post -->
                <div class="card mb-4" id="0">
                    <a href="#">
                        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h2 class="card-title"> blog.auteur|title </h2>
                        <p class="card-text"> blog.theme|title </p>
                        <a href="#" class="btn btn-info">View On Wall &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on blog.date_blog by <a href="#"> blog.auteur|title </a>
                    </div>


                </div>
                <p>No blog yet</p>
            </div>
        {% endif %}
</div>
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item"><a class="page-link" href="#">&larr; Older</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Newer &rarr;</a></li>
        </ul>


    </div>
{% endblock %}





{% block javascript %}
<script type="text/javascript" language="JavaScript">
    $(document).ready(function(){
        <!--alert("Hello Waff!");-->
        $("#update-holder").prepend('

            <div class="update">
                <!-- Blog Post -->
                <div class="card mb-4 update">

                    <div class="card-body">
                        <h2 class="card-title"> blog.auteur|title </h2>
                        <p class="card-text"> blog.theme|title </p>
                        <a href="" class="btn btn-info">View On Wall &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on blog.date_blog by <a href="#"> blog.auteur|title </a>
                    </div>
                </div>
            </div>
        ');
    })
</script>
{% endblock %}





















