{% extends 'blog/blog-detail-base.html' %}

{% block title %} BLOG Content {% endblock %}

{% block hrefbrandnavbar %}{% url 'create-post' blog.id %}{% endblock%}

{% block blogentries %}
    <!-- Blog Entries Column -->


            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">Post Title: {{ blog.theme }}</h1>
                <h6 class="mt-2">{{ blog.posts.all|length }} Post on this Blog.</h6>


                <a href="{% url 'blog-detail' blog.slug %}">

                <!-- Preview Image -->
                    {% if blog.illustration %}
                        <img class="card-img-top" src="/blog/media/{{ blog.illustration }}/" alt="Card image cap">

                    {% else %}
                        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">

                    {% endif %}
                </a>
                <hr>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">{{ blog.auteur }}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p>Posted on {{ blog.date_blog }}</p>

                <hr>




                <!-- Post Content -->
                <p class="lead">{{ blog.theme|linebreaksbr }}</p>




                {% if blog.posts.all|length %}

                    {% for post in blog.posts.all %}

                        <div class="row">










                                        <!--Card Wider-->
            <div class="card card-cascade wider">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    {% if post.illustration %}
                        <img src="/blog/media/{{ post.illustration }}/" class="img-fluid">
                    {% else %}
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" class="img-fluid">
                    {% endif %}


                    <a href="{% url 'blogpost-details' post.slug %}">
                        <div class="mask">Read Post &rarr;</div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>{{ post.titre }}</strong></h4>
                    <h5 class="indigo-text"><strong>{{ post.date_post }}</strong></h5>

                    <p class="card-text">{{ post.text }}</p>


                    <!--Linkedin-->
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin">  </i></a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                    <!--Dribbble-->
                    <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

                </div>
                <!--/.Card content-->

            </div>

            <hr>










            <!--/.Card Wider-->


            <!--&lt;!&ndash;Card Narrower&ndash;&gt;-->
            <!--<div class="card card-cascade narrower">-->

                <!--&lt;!&ndash;Card image&ndash;&gt;-->
                <!--<div class="view overlay hm-white-slight">-->
                    <!--<img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="img-fluid" alt="">-->
                    <!--<a>-->
                        <!--<div class="mask"></div>-->
                    <!--</a>-->
                <!--</div>-->
                <!--&lt;!&ndash;/.Card image&ndash;&gt;-->

                <!--&lt;!&ndash;Card content&ndash;&gt;-->
                <!--<div class="card-body">-->
                    <!--<h5 class="pink-text"><i class="fa fa-cutlery"></i> Culinary</h5>-->
                    <!--&lt;!&ndash;Title&ndash;&gt;-->
                    <!--<h4 class="card-title">Cheat day inspirations</h4>-->
                    <!--&lt;!&ndash;Text&ndash;&gt;-->
                    <!--<p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>-->
                    <!--<a class="btn btn-unique">Button</a>-->
                <!--</div>-->
                <!--&lt;!&ndash;/.Card content&ndash;&gt;-->

            <!--</div>-->
            <!--&lt;!&ndash;/.Card Narrower&ndash;&gt;-->


            <!--&lt;!&ndash;Card Regular&ndash;&gt;-->
            <!--<div class="card card-cascade">-->

                <!--&lt;!&ndash;Card image&ndash;&gt;-->
                <!--<div class="view overlay hm-white-slight">-->
                    <!--<img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="img-fluid" alt="">-->
                    <!--<a>-->
                        <!--<div class="mask"></div>-->
                    <!--</a>-->
                <!--</div>-->
                <!--&lt;!&ndash;/.Card image&ndash;&gt;-->

                <!--&lt;!&ndash;Card content&ndash;&gt;-->
                <!--<div class="card-body text-center">-->
                    <!--&lt;!&ndash;Title&ndash;&gt;-->
                    <!--<h4 class="card-title"><strong>Billy Cullen</strong></h4>-->
                    <!--<h5>Web developer</h5>-->

                    <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.-->
                    <!--</p>-->

                    <!--&lt;!&ndash;Facebook&ndash;&gt;-->
                    <!--<a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>-->
                    <!--&lt;!&ndash;Twitter&ndash;&gt;-->
                    <!--<a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>-->
                    <!--&lt;!&ndash;Google +&ndash;&gt;-->
                    <!--<a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>-->

                <!--</div>-->
                <!--&lt;!&ndash;/.Card content&ndash;&gt;-->

            <!--</div>-->
            <!--&lt;!&ndash;/.Card Regular&ndash;&gt;-->













                        </div>

                    {% endfor %}

                {% else %}

                {% endif %}

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>-->

                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in
                        <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>-->

                <hr>

                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

                <!-- Single Comment -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment with nested comments -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                    </div>
                </div>

            </div>







{% endblock %}






{% block javascript %}
<script type="text/javascript" language="JavaScript">
    $(document).ready(function(){
        alert("Hello Waff!");
    })
</script>
{% endblock %}

























