{% extends 'blog/blog-detail-base.html' %}

{% block title %} BLOG Content {% endblock %}

{% block hrefbrandnavbar %}{% url 'blog:create-post' blog.id %}{% endblock%}

{% block blogentries %}
    <!-- Blog Entries Column -->


            <!-- Post Content Column -->
            <div class="col-lg-6">

                <!-- Title -->
                <h5 class="mt-4">Blog Theme: {{ blog.theme }}</h5>
                <h6 class="mt-2">{{ blog.posts.all|length }} Post on this Blog.</h6>


                <a href="{% url 'blog:blog-detail' blog.slug %}">

                <!-- Preview Image -->
                    {% if blog.illustration %}
                        <img class="card-img-top" src="/blog/media/{{ blog.illustration }}/" alt="Card image cap">

                    {% else %}
                        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">

                    {% endif %}
                </a>
                <hr>

                <!-- Author -->
                <p class="lead">
                    by <a href="{% url 'profile:viewuserprofile' blog.auteur.slug %}">{{ blog.auteur|capfirst }}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p>Posted on {{ blog.date_blog }}</p>

                <hr>




                <!-- Post Content -->
                <p class="lead">{{ blog.theme|linebreaksbr }}</p>




                {% if blog.posts.all|length %}

                    {% for post in blog.posts.all %}

                        <div class="row">


                                                    <!--Card Wider-->
                        <div class="card card-cascade wider">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <a href="{% url 'blog:blogpost-details' post.slug %}">
                                    {% if post.illustration %}
                                        <img src="/blog/media/{{ post.illustration }}/" class="img-fluid">
                                    {% else %}
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" class="img-fluid">
                                    {% endif %}
                                </a>


                                <a href="{% url 'blog:blogpost-details' post.slug %}">
                                    <div class="mask">Read Post &rarr;</div>
                                </a>
                            </div>
                            <!--/Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Title-->
                                <h4 class="card-title"><strong>{{ post.titre }}</strong></h4>
                                <h5 class="indigo-text"><strong>{{ post.date_post }}</strong></h5>

                                <p class="card-text">{{ post.text }}</p>


                                <!--Linkedin-->
                                <a class="icons-sm li-ic"><i class="fa fa-linkedin">  </i></a>
                                <!--Twitter-->
                                <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                                <!--Dribbble-->
                                <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

                            </div>
                            <!--/.Card content-->

                        </div>

                        <hr>



                        </div>




                    {% endfor %}

                {% else %}

                {% endif %}

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>-->

                <!--<blockquote class="blockquote">-->
                    <!--<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>-->
                    <!--<footer class="blockquote-footer">Someone famous in-->
                        <!--<cite title="Source Title">Source Title</cite>-->
                    <!--</footer>-->
                <!--</blockquote>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>-->

                <hr>

                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>


                <!--{% if blog.postcomments.all|length %}-->
                    <!--<strong>Il y a commentaire dans ce blog</strong>-->
                <!--{% endif %}-->


                <!-- Single Comment -->
                <!--<div class="media mb-4">-->
                    <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
                    <!--<div class="media-body">-->
                        <!--<h5 class="mt-0">Commenter Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
                    <!--</div>-->
                <!--</div>-->

                <!-- Comment with nested comments -->
                <!--<div class="media mb-4">-->
                    <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
                    <!--<div class="media-body">-->
                        <!--<h5 class="mt-0">Commenter Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->

                        <!--<div class="media mt-4">-->
                            <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
                            <!--<div class="media-body">-->
                                <!--<h5 class="mt-0">Commenter Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="media mt-4">-->
                            <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
                            <!--<div class="media-body">-->
                                <!--<h5 class="mt-0">Commenter Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->

            </div>







{% endblock %}






{% block javascript %}
<script type="text/javascript" language="JavaScript">
    $(document).ready(function(){
        alert("Hello Waff!");
    })
</script>
{% endblock %}

























