{% extends 'blog/blog-home-base.html' %}
{% load static %}
{% load humanize %}


{% block title %} News Feed {% endblock %}

<!-- Blog Entries Column -->
{% block blogentries %}

  <!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->
	<!--<title>Facebook style update status box with CSS3, HTML, Bootstrap and Jquery  - wsnippets.com</title>-->
	<!--<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">-->
	<!--<link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">-->
    <link href="{% static 'assets/css/post-form.css' %}" rel="stylesheet">
    <!--<link href="css/style.css" rel="stylesheet">-->
	<!--<script src="{% static 'assets/js/jquery-3.1.1.js' %}"></script>-->
	<!--<script src="{% static 'assets/js/jquery.js' %}"></script>-->
	<!--<script src="{% static 'assets/js/bootstrap.js' %}"></script>-->
<!--</head>-->






    <!--<div class="container">-->
	<!--<div class="row">-->
	<!--<div class="col-md-6 col-md-offset-3">-->
		<!--&lt;!&ndash;<h3 class="text-center">Facebook style update status box with CSS3, HTML, Bootstrap and Jquery  - wsnippets.com</h3>&ndash;&gt;-->
		<!--&lt;!&ndash;<hr>&ndash;&gt;-->
		<!--<form action="#" method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">-->
			<!--<ul class="post-types">-->
				<!--<li class="post-type">-->
					<!--<a class="status" title="" href="#"><i class="icon icon-file"></i> Share an Update</a>-->
				<!--</li>-->
				<!--<li class="post-type">-->
					<!--<a class="photos" href="#"><i class="icon icon-camera"></i> Add photos</a>-->
				<!--</li>-->
			<!--</ul>-->
			<!--<div class="share">-->
				<!--<div class="arrow"></div>-->
				<!--<div class="panel panel-default">-->
                      <!--<div class="panel-heading"><i class="fa fa-file"></i> Update Status</div>-->
                      <!--<div class="panel-body">-->
                        <!--<div class="">-->
                            <!--<textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What's on your mind ?"></textarea>-->
						<!--</div>-->
                      <!--</div>-->
						<!--<div class="panel-footer">-->
								<!--<div class="row">-->
									<!--<div class="col-md-7">-->
										<!--<div class="form-group">-->
											<!--<div class="btn-group">-->
											  <!--<button type="button" class="btn btn-default"><i class="icon icon-map-marker"></i> Location</button>-->
											  <!--<button type="button" class="btn btn-default"><i class="icon icon-picture"></i> Photo</button>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-md-5">-->
										<!--<div class="form-group">-->
											<!--<select name="privacy" class="form-control privacy-dropdown pull-left input-sm">-->
												<!--<option value="1" selected="selected">Public</option>-->
												<!--<option value="2">Only my friends</option>-->
												<!--<option value="3">Only me</option>-->
											<!--</select>-->
											<!--<input type="submit" name="submit" value="Post" class="btn btn-primary">-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
						<!--</div>-->
                    <!--</div>-->
			<!--</div>-->
			<!--&lt;!&ndash;</div>&ndash;&gt;-->
		<!--</form>-->
	<!--</div>-->
    <!--</div>-->
    <!--</div>-->









    <div class="col-md-6">

        <h1 class="my-4">Welcome To <small>Blog App</small></h1>






        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Status:</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group inline">

                        <textarea name="Post" id="1" cols="50" rows="5" placeholder="Write Your Status."></textarea>
                    </div>

                    <input type="submit" value="Post!">
                </form>
            </div>


        </div>










        {% for post in posts %}


                <!-- Blog Post -->
                <div class="card mb-4">
                    {% if post.illustration %}
                    <a href="{% url 'blogpost-details' post.slug %}"><img class="card-img-top" src="/blog/media/{{ post.illustration }}/" alt="{{ post.titre|capfirst }}"></a>
                    {% else %}
                        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    {% endif %}

                    <div class="card-body">
                        <h4 class="card-title">{{ post.titre|capfirst }}</h4>
                        <h6><small><small> - via &rarr; <a href="#"><i class="fa fa-files-o" aria-hidden="true"></i> Blog: <strong>{{ post.blog.theme|capfirst }}</strong></a> {{ post.date_post|naturaltime }}</small></small></h6>
                        <p class="card-text">{{ post.text|linebreaks|truncatewords:100 }}</p>
                        <a href="{% url 'blogpost-details' post.slug %}" class="btn btn-info">Read Post &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ post.date_post }} by <a href="{% url 'profile:viewuserprofile' post.blog.auteur.id %}">{{ post.blog.auteur|capfirst }}</a>
                    </div>
                </div>


        {% empty %}

                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">Nothing to show.</h2>
                        <p class="card-text">Revenez prochainement.</p>
                        <!--<a href="#" class="btn btn-primary">Read More &rarr;</a>-->
                    </div>
                    <div class="card-footer text-muted">
                        Posted on January 1, 2017 by <a href="#">W@luc</a>
                    </div>
                </div>



        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item"><a class="page-link" href="#">&larr; Older</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Newer &rarr;</a></li>
        </ul>

        <a href="#" id="wawaluc">JQuery</a>

    </div>












{% endblock %}




{% block javascript %}
    <script type="text/javascript">
		$(document).ready(function(){
			$('.status').click(function() { $('.arrow').css("left", 0);});
			$('.photos').click(function() { $('.arrow').css("left", 146);});
		});
	</script>

<!--<script type="text/javascript" language="JavaScript">-->
    <!--$(document).ready(function(){-->
        <!--alert("Hello Waff!");-->
    <!--})-->
<!--</script>-->



{% endblock %}


























