{% extends 'desktop.html' %}
{# extends 'base.html' #}
{# extends 'blog-home-base.html' #}
{% load static %}
{% load humanize %}


{% block title %} News Feed {% endblock %}

<!-- Blog Entries Column -->
{# block blogentries #}


{% block widefn %}

<div class="row justify-content-md-center">
    <div class="col-xs-12" id="postfeed">



        {% if user.is_authenticated %}

			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">

					<center><h6 class="my-4">Create Your <strong>Blog Post(s)</strong> Here</h6></center>
				</div>
			</div>
			<br>



			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title">What's on your mind?</h6>
				</div>





				<form action="" method="post" enctype="multipart/form-data" novalidate>
					{% csrf_token %}
                    <div class="panel-body">{% include 'includes/post_form.html' with form=post_form %}</div>

					<div class="panel-footer">
						<!--Panel footer-->

								<input type="submit" class="btn btn-success" value="Post!">
								<!--<button id="button">Like</button>-->
								<!--<input type="text" name="datepicker" id="datepicker">-->

					</div>
				</form>




			</div>




        {% endif %}







    <div id="post-update-holder">



        {% for post in posts %}


                <!-- Blog Post -->

			<div class="update" id="{{ post.id }}">

				<div class="panel panel-default">
					<div class="panel-heading">
						{% if post.illustration %}
						<a href="{# url 'blog:blogpost-details' post.slug #}"><img class="img-fluid" src="/blog/media/{{ post.illustration }}/" width="400" height="300" alt="{{ post.titre|capfirst }}"></a>
						{% else %}
							<img class="card-img-top" src="https://unsplash.it/400/300/?random" alt="Card image cap">
						{% endif %}

						<h3 class="panel-title">{{ post.titre|capfirst }}</h3>
						<h4><small><small> - via &rarr; <a href="{# url 'blog:blog-detail' post.blog.slug #}"><i class="fa fa-files-o" aria-hidden="true"></i> Blog: <strong>{{ post.blog.theme|capfirst }}</strong></a> {{ post.date_post|naturaltime }}</small></small></h4>
					</div>

					<div class="panel-body">
						<!--Panel content-->
						<p>{{ post.text|linebreaks|truncatewords:100 }}</p>
						<a href="{% url 'blog:blogpost-details' post.slug %}" class="btn btn-info">Read Post &rarr;</a>
					</div>
					<div class="panel-footer">
						<!--Panel footer-->

						<!--<input type="submit" value="Post!">-->
						<button><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</button>
						<button><i class="fa fa-commenting-o" aria-hidden="true"></i> Comment</button>
						<button><i class="fa fa-share-alt" aria-hidden="true"></i> Share</button>

					</div>

				</div>


			</div>


        {% empty %}

			<p>Blog Post</p>
			<div class="update" id="0">

				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="post-image"><img class="card-img-top img-responsive" src="https://unsplash.it/400/300/?random" alt="Card image cap"></div>
						<h3 class="panel-title">Nothing to show.</h3>
					</div>
					<div class="panel-body">
						Creez Un Blog!
					</div>
					<div class="panel-footer">
						Copyright 2017
					</div>
				</div>

			</div>

        {% endfor %}

        <hr />
        <br />


    </div>







</div>

</div>



{% endblock widefn %}





















{% block smallfn %}

<div class="row justify-content-md-center">

    <div class="col-xs-12" id="blogfeed">
        <!--<br />-->



        {% if user.is_authenticated %}

			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">

					<center><h6 class="my-4">Create Your <strong>Blog(s)</strong> Here</h6></center>
				</div>
			</div>
			<br>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">What's on your mind?</h3>
				</div>
				<!--<form action="/blog/list/" method="post" enctype="multipart/form-data" novalidate>-->
				<form action="/blog/list/" method="post" enctype="multipart/form-data" novalidate>
					{% csrf_token %}
                    <div class="panel-body">
                        {% include 'includes/blog_form.html' with form=blog_form %}
                        <!--Panel content-->

                    </div>

					<div class="panel-footer">
						<!--Panel footer-->
						<input type="submit" class="btn btn-info" value="Create Blog!">
					</div>
				</form>
			</div>


        {% endif %}





        <div id="blog-update-holder">

        {% if blogs %}

            {% for blog in blogs %}


                    <!-- Blog Post -->
            <div class="update">








			<div class="panel panel-default" id="{{ blog.id }}">
			  <div class="panel-heading">

				  <a href="{# url 'blog:blog-detail' blog.slug #}">
						{% if blog.illustration %}
							<img class="card-img-top" src="/blog/media/{{ blog.illustration }}/" width="150" height="100" alt="Card image cap">

						{% else %}
							<img class="card-img-top" src="https://unsplash.it/150/100/?random" alt="Card image cap">

						{% endif %}
					</a>
				  <h3 class="panel-title">
					  <!--Panel title -->
					  {{ blog.theme|title }}</h3>
			  </div>
			  <div class="panel-body">
				<!--Panel content-->
				  <p class="card-text">  Inside ==> [{{ blog.posts.count }} Post(s)] </p>
				<a href="{# url 'blog:blog-detail' blog.slug #}" class="btn btn-info">View On Wall &rarr;</a>
			  </div>
				<div class="panel-footer">
					<!--Panel footer-->
				Created on {{ blog.date_blog }} by <a href="{% url 'profile:viewuserprofile' blog.auteur.slug %}">{{ blog.auteur|title }}</a>
				</div>
			</div>



            </div>
            {% empty %}


				<div class="update">
                    <!-- Blog Post -->
					<div class="panel panel-default">
					  <div class="panel-heading">
						  <div class="image-wrapper">
							  <img class="img-responsive" src="https://unsplash.it/200/100/?random" alt="Card image cap">
						  </div>
						<h3 class="panel-title">Aucun blog Actuellement.</h3>
					  </div>
					  <div class="panel-body">
						Panel content
						  <p class="card-text">Revenez prochainement ou alors creez votre propre blog <a href="{# url 'create-post' #}">ici</a>.</p>
					  </div>
						<div class="panel-footer">Copyright 2017</div>
					</div>

				</div>




            {% endfor %}

        {% else %}

            <div class="update">
                <!-- Blog Post -->
                <div class="card mb-2" id="0">
                    <a href="#">
                        <img class="img-responsive" src="https://unsplash.it/200/100/?random" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h2 class="card-title"> blog.auteur|title </h2>
                        <p class="card-text"> blog.theme|title </p>
                        <a href="#" class="btn btn-info">View On Wall &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on blog.date_blog by <a href="#"> blog.auteur|title </a>
                    </div>


                </div>
                <p>No blog yet</p>
            </div>
        {% endif %}
        </div>


        <hr />
        <br />

    </div>

</div>

{% endblock smallfn %}











{% block javascript %}

<script type="text/javascript" language="JavaScript" src="{% static 'assets/js/desktop-ui.js' %}"></script>


{% endblock %}




















