{% extends 'blog/blog-home-base.html' %}

{% block title %} Post News Feed {% endblock %}

{% block hrefbrandnavbar %}{% url 'create-blog' %}{% endblock%}

<!-- Blog Entries Column -->
{% block blogentries %}

    <div class="col-md-8">

        <h1 class="my-4">Welcome To <small>Blog App</small></h1>
        <div id="update-holder">
        {% if all_blog_posts %}

            {% for post in all_blog_posts %}


                    <!-- Blog Post -->
            <div class="update">
                    <div class="card mb-4" id="{{ post.id }}">
                        <a href="{% url 'blog-detail' post.id %}">
                            {% if post.illustration %}
                                <img class="card-img-top" src="/blog/media/{{ post.illustration }}/" alt="Card image cap">

                            {% else %}
                                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">

                            {% endif %}
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">{{ post.titre|title }}</h2>
                            <p class="card-text">{{ post.text|title }}</p>
                            <a href="{% url 'blog-detail' post.id %}" class="btn btn-info">View On Wall &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on {{ post.date_post }} by <a href="#">{{ post.blog.auteur|title }}</a>
                        </div>
                    </div>

            </div>
            {% empty %}
                <div class="update">
                    <!-- Blog Post -->
                    <div class="card mb-4">
                        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">Aucun post Actuellement.</h2>
                            <p class="card-text">Revenez prochainement ou alors creez votre propre post <a href="{% url 'create-post' %}">ici</a>.</p>
                            <a href="#" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on January 1, 2017 by <a href="#">W@luc</a>
                        </div>
                    </div>
                </div>


            {% endfor %}

        {% else %}

            <div class="update">
                <!-- Blog Post -->
                <div class="card mb-4" id="0">
                    <a href="#">
                        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h2 class="card-title"> post.auteur|title </h2>
                        <p class="card-text"> post.theme|title </p>
                        <a href="#" class="btn btn-info">View On Wall &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on post.date_blog by <a href="#"> post.auteur|title </a>
                    </div>


                </div>
                <p>No post yet</p>
            </div>
        {% endif %}
</div>
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item"><a class="page-link" href="#">&larr; Older</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Newer &rarr;</a></li>
        </ul>


    </div>
{% endblock %}





{% block javascript %}
<script type="text/javascript" language="JavaScript">
    $(document).ready(function(){
        <!--alert("Hello Waff!");-->
        $("#update-holder").prepend('

            <div class="update">
                <!-- Blog Post -->
                <div class="card mb-4 update">

                    <div class="card-body">
                        <h2 class="card-title"> post.auteur|title </h2>
                        <p class="card-text"> post.theme|title </p>
                        <a href="" class="btn btn-info">View On Wall &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on post.date_blog by <a href="#"> post.auteur|title </a>
                    </div>
                </div>
            </div>
        ');
    })
</script>
{% endblock %}





















