{% extends 'desktop.html' %}
{# extends 'blog/blog-detail-base.html' #}

{% block title %} POST Content {% endblock %}

{% block hrefbrandnavbar %}{% endblock%}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'desktop' %}">Desktop</a></li>
  <li class="breadcrumb-item"><a href="{% url 'blog:blog-detail' post.blog.slug %}"> {{ post.blog.theme }} </a></li>
  <li class="breadcrumb-item active">{{ post.titre }}</li>
{% endblock %}



{# block blogentries #}
{% block widefn %}
    <!-- Blog Entries Column -->


    <!-- Post Content Column -->
    <div class="col-md-12">

        <!-- Title -->
        <h5 class="mt-4">Headline: {{ post.titre|capfirst }}</h5>

        <!-- Author -->
        <p class="lead">
            by <a href="{% url 'profile:viewuserprofile' post.blog.auteur.slug %}">{{ post.blog.auteur|capfirst }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ post.date_post }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{% if post.illustration %}/blog/media/{{ post.illustration }}/{% else %}https://unsplash.it/400/400/?random{% endif %}" alt="" height="300" width="450">

        <hr>

        <!-- Post Content -->
        <p class="lead">{{ post.text|linebreaksbr }}</p>

        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>-->

        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>-->

        <!--<blockquote class="blockquote">-->
            <!--<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>-->
            <!--<footer class="blockquote-footer">Someone famous in-->
                <!--<cite title="Source Title">Source Title</cite>-->
            <!--</footer>-->
        <!--</blockquote>-->

        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>-->

        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>-->

        <hr>

        <!-- Comments Form -->
        <div class="panel">
            <h5 class="panel-header">Leave a Comment:</h5>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <!--<div class="form-group">-->
                        <!--<textarea class="form-control" rows="3"></textarea>-->
                    <!--</div>-->
                    {% include 'includes/comment_form.html' with form=comment_form %}
                    <button type="submit" class="btn btn-info">Comment</button>
                </form>
            </div>
        </div>


        {% if post.postcomments.all|length %}
            <!--<strong>Il y a commentaire pour ce post.</strong>-->

            {% for commentaire in post.postcomments.all %}

                <!-- Single Comment -->
                <div class="media mb-4">
                    <a href="#"><img class="d-flex mr-3 rounded-circle" src="{% if commentaire.auteur.photo %} /blog/media/{{ commentaire.auteur.photo }}/ {% else %}http://placehold.it/50x50{% endif %}" height="50" width="50" alt="{{ commentaire.auteur|capfirst}}"></a>
                    <div class="media-body">
                        <h5 class="mt-0"><a href="#">{{ commentaire.auteur|capfirst }}</a></h5> {{ commentaire.commentaire|linebreaks }}
                        {% if commentaire.replycomments.all %}
                            <!--<strong>Il y a reponse a ca aussi ... :P</strong>-->

                        {% for reply in commentaire.replycomments.all %}
                            <div class="media mt-4">
                                <a href="#"><img class="d-flex mr-3 rounded-circle" src="{% if commentaire.auteur.photo %} /blog/media/{{ reply.auteur.photo }}/ {% else %}http://placehold.it/50x50{% endif %}" height="50" width="50" alt=""></a>
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="#">{{ reply.auteur|capfirst }}</a></h5>{{ reply.commentaire|linebreaks }}
                                </div>
                            </div>


                        {% endfor %}

                        {% endif %}
                    </div>
                </div>


            {% endfor %}
        {% else %}
            <p>No comment yet...</p>
        {% endif %}


        <!--&lt;!&ndash; Comment with nested comments &ndash;&gt;-->
        <!--<div class="media mb-4">-->
            <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
            <!--<div class="media-body">-->
                <!--<h5 class="mt-0">Commenter Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->

                <!--<div class="media mt-4">-->
                    <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
                    <!--<div class="media-body">-->
                        <!--<h5 class="mt-0">Commenter Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->


        <br />
        <br />
        <br />
        <hr />
        <br />
        <br />



    </div>


{% endblock widefn %}


{% block smallfn %}{% endblock smallfn %}



{% block javascript %}
    <!--<script type="text/javascript" language="JavaScript">-->
        <!--$(document).ready(function(){-->
            <!--alert("Hello Waff!");-->
        <!--})-->
    <!--</script>-->
{% endblock %}

























