{% extends 'desktop.html' %}
{# extends 'blog/blog-home-base.html' #}
{% load static %}
{% load humanize %}


{% block title %} Post News Feed {% endblock %}

{% block hrefbrandnavbar %}{# url 'create-blog' #}{% endblock%}

<!-- Blog Entries Column -->
{# block blogentries #}
{% block desktop %}


<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

        <form action="{# url 'blog:create-post' #}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--<p>Ici git un form.</p>-->

            {% include 'includes/post_form.html' with form=post_form %}

            <input type="submit" class="btn btn-info" value="Post">

        </form>


        {% if all_blog_posts %}
			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">

					<center><h6 class="my-4">Create Your <strong>Post(s)</strong> Here</h6></center>
				</div>
			</div>
			<br>
        {% endif %}






            <table class="table table-striped table-bordered table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Illustration</th>
                <th>Auteur</th>
                <th>Post</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>

        {% for post in all_blog_posts %}

                <tr>
                    <th scope="row">1</th>
                    <td>

                            <a href="{% url 'blog:blogpost-details' post.slug %}"><img src="{% if post.illustration %}/blog/media/{{ post.illustration }}/{% else %}https://unsplash.it/50/50/?random{% endif %}" alt="{{ blog.theme }}" width="50" height="50" class="img-responsive"></a>

                            <!--<a href=""><img src="" alt="{{ blog.theme }}" width="50" height="50" class="img-responsive"></a>-->


                    </td>
                    <td>
                        <a href="{% url 'profile:viewuserprofile' post.blog.auteur.slug %}">{{ post.blog.auteur }}</a>
                    </td>
                    <td>
                        <a href="{% url 'blog:blogpost-details' post.slug %}">{{ post.titre }}</a>
                    </td>
                    <td>
                        {{ post.date_post }}
                    </td>
                </tr>

        {% endfor %}

            </tbody>

        </table>

















    </div>
    <div class="col-lg-3"></div>
</div>


    <!--<div class="col-md-6">-->

        <!--<h1 class="my-4">Welcome To <small>Blog App</small></h1>-->
        <!--<div id="update-holder">-->
            <!--{% if all_blog_posts %}-->

                <!--{% for post in all_blog_posts %}-->


                        <!--&lt;!&ndash; Blog Post &ndash;&gt;-->
                <!--<div class="update">-->
                        <!--<div class="card mb-4" id="{{ post.id }}">-->
                            <!--<a href="{% url 'blog:blog-detail' post.id %}">-->
                                <!--{% if post.illustration %}-->
                                    <!--<img class="card-img-top" src="/blog/media/{{ post.illustration }}/" alt="Card image cap">-->

                                <!--{% else %}-->
                                    <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->

                                <!--{% endif %}-->
                            <!--</a>-->
                            <!--<div class="card-body">-->
                                <!--<h2 class="card-title">{{ post.titre|capfirst }}</h2>-->
                                <!--<h6><small><small> - via &rarr; <a href="#"><i class="fa fa-files-o" aria-hidden="true"></i> Blog: <strong>{{ post.blog.theme|capfirst }}</strong></a> {{ post.date_post|naturaltime }}</small></small></h6>-->
                                <!--<p class="card-text">{{ post.text|linebreaks|truncatewords:100 }}</p>-->
                                <!--<a href="{% url 'blog:blogpost-details' post.slug %}" class="btn btn-info">View On Wall &rarr;</a>-->
                            <!--</div>-->
                            <!--<div class="card-footer text-muted">-->
                                <!--Posted on {{ post.date_post }} by <a href="{% url 'profile:viewuserprofile' post.blog.auteur.id %}">{{ post.blog.auteur|capfirst }}</a>-->
                            <!--</div>-->
                        <!--</div>-->

                <!--</div>-->
                <!--{% empty %}-->
                    <!--<div class="update">-->
                        <!--&lt;!&ndash; Blog Post &ndash;&gt;-->
                        <!--<div class="card mb-4">-->
                            <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
                            <!--<div class="card-body">-->
                                <!--<h2 class="card-title">Aucun post Actuellement.</h2>-->
                                <!--<p class="card-text">Revenez prochainement ou alors creez votre propre post <a href="{% url 'create-post' %}">ici</a>.</p>-->
                                <!--<a href="#" class="btn btn-primary">Read More &rarr;</a>-->
                            <!--</div>-->
                            <!--<div class="card-footer text-muted">-->
                                <!--Posted on January 1, 2017 by <a href="#">W@luc</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--{% endfor %}-->

            <!--{% else %}-->

                <!--<div class="update">-->
                    <!--&lt;!&ndash; Blog Post &ndash;&gt;-->
                    <!--<div class="card mb-4" id="0">-->
                        <!--<a href="#">-->
                            <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
                        <!--</a>-->
                        <!--<div class="card-body">-->
                            <!--<h2 class="card-title"> post.auteur|capfirst </h2>-->
                            <!--<p class="card-text"> post.theme|title </p>-->
                            <!--<a href="#" class="btn btn-info">View On Wall &rarr;</a>-->
                        <!--</div>-->
                        <!--<div class="card-footer text-muted">-->
                            <!--Posted on post.date_blog by <a href="#"> post.auteur|title </a>-->
                        <!--</div>-->


                    <!--</div>-->
                    <!--<p>No post yet</p>-->
                <!--</div>-->
            <!--{% endif %}-->
        <!--</div>-->
        <!--&lt;!&ndash; Pagination &ndash;&gt;-->
        <!--<ul class="pagination justify-content-center mb-4">-->
            <!--<li class="page-item"><a class="page-link" href="#">&larr; Older</a></li>-->
            <!--<li class="page-item disabled"><a class="page-link" href="#">Newer &rarr;</a></li>-->
        <!--</ul>-->


    <!--</div>-->
    <!--<br />-->
    <!--<br />-->
    <!--<br />-->
    <!--<hr />-->
{% endblock %}






{% block activehome %}{% endblock activehome %}
{% block activeabout %}class="active"{% endblock activeabout %}
{% block activecontact %}{% endblock activecontact %}
{% block activeblogs %}{% endblock activeblogs %}
{% block activeposts %}{% endblock activeposts %}








{% block javascript %}
<script type="text/javascript" language="JavaScript">
    $(document).ready(function(){
        <!--alert("Hello Waff!");-->
        $("#update-holder").prepend('

            <div class="update">
                <!-- Blog Post -->
                <div class="card mb-4 update">

                    <div class="card-body">
                        <h2 class="card-title"> post.auteur|title </h2>
                        <p class="card-text"> post.theme|title </p>
                        <a href="" class="btn btn-info">View On Wall &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on post.date_blog by <a href="#"> post.auteur|title Waluccc </a>
                    </div>
                </div>
            </div>
        ');
    })
</script>
{% endblock %}





















