{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Blog Desktop Page">
    <meta name="author" content="MaitreWaff">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title> Blog | {% block title %}Generic Desktop {% endblock title %}</title>


      {% include 'base/head_css.html' %}

  </head>

  <body>

  {% include 'base/navbar.html' %}


    {% block desktop %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">


                    {% block apps %}<p>Desktop Apps</p>No Desktop Apps{% endblock apps %}

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <!--<p>Post Actu</p><p>Large Feed-News</p>-->
                    {% block widefn %}No Post{% endblock widefn %}


                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <!--<p>Blog Actu</p><p>Small Feed-News</p>-->
                    {% block smallfn %}No Blog{% endblock smallfn %}

                </div>
            </div>
        </div>
    {% endblock %}

    {% include 'base/taskbar.html' %}

  {% include 'base/javascript.html' %}

  {% block javascript %}{% endblock javascript%}


  </body>
</html>
