{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>{% block title %}Generic Title{% endblock title %}</title>

      {% include 'base/head_css.html' %}

  </head>

  <body>

  {% include 'base/navbar.html' %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-5">
				<p>Desktop Apps</p>

				{% block apps %}No Desktop Apps{% endblock apps %}

			</div>
			<div class="col-xs-5">
				<p>Post Actu</p><p>Large Feed-News</p>
				{% block wide-fn %}No Post{% endblock wide-fn %}


			</div>
			<!-- 	<div class="col-xs-2"><p>Trois</p></div>
			<div class="col-xs-2"><p>Four</p></div>
			<div class="col-xs-2"><p>Five</p></div> -->
			<div class="col-xs-2">
				<p>Blog Actu</p><p>Small Feed-News</p>
				{% block small-fn %}No Blog{% endblock small-fn %}

			</div>
		</div>
	</div>


    {% include 'base/taskbar.html' %}

  {% include 'base/javascript.html' %}


  </body>
</html>
