{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Blog Desktop Page">
    <meta name="author" content="MaitreWaff">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title> Blog | {% block title %}Generic Desktop {% endblock title %}</title>

      {% include 'base/head_css.html' %}

  </head>

  <body>

  {% include 'base/navbar.html' %}

	<div class="container-fluid">
		<div class="row justify-content-around">
			<div class="col col-xs-5 flex-first">
				<p>Desktop Apps</p>

				{% block apps %}No Desktop Apps{% endblock apps %}

			</div>
			<div class="col col-xs-5 flex-unordered">
				<!--<p>Post Actu</p><p>Large Feed-News</p>-->
				{% block wide-fn %}No Post{% endblock wide-fn %}


			</div>

			<div class="col col-xs-2 flex-last">
				<!--<p>Blog Actu</p><p>Small Feed-News</p>-->
				{% block small-fn %}No Blog{% endblock small-fn %}

			</div>
		</div>
	</div>


    {% include 'base/taskbar.html' %}

  {% include 'base/javascript.html' %}

  {% block javascript %}{% endblock javascript%}


  </body>
</html>
