{% extends 'profiles/base.html' %}

{% block content %}


    <h2>Sign Up</h2>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
		<div class="form-group">
			{% for field in form %}
				{% for error in field.errors %}
					<p style="color: red">{{ error }}</p>
				{% endfor %}

					<label for="name" class="cols-sm-2 control-label">{{ field.label_tag }}</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa {% cycle 'fa-users' 'fa-envelope' 'fa-lock' 'fa-lock' %} fa" aria-hidden="true"></i></span>

							<!--<input class="form-control" name="fieldname" id="fieldid"  placeholder="{{ field.help_text }}"/>-->
							{{ field }}

						</div>
						<!--<br />-->
							{% if field.help_text %}
								<!--<small style="color: grey">{{ field.help_text }}</small>-->
								{{ field.help_text }}
							{% endif %}
					</div>


					<!--<p>-->
						<!--{{ field.label_tag }} <br />-->
						<!--{{ field }}-->
					<!--</p>-->
			{% endfor %}
		</div>
        <!--<button type="submit">Sign Up</button>-->


		<div class="form-group ">
			<button type="submit" class="btn btn-info btn-lg btn-block login-button">Register</button>
		</div>
		<div class="login-register">
			<a href="#">Login</a>
		 </div>
    </form>


{% endblock %}

