{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog | {% block title %}Profile{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/blog-profile.css' %}" rel="stylesheet">





    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">



    <!--<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">-->






</head>

<div class="mainbody container-fluid">
    <div class="row">



        <div class="navbar-wrapper">
            <div class="container-fluid">
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                    class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'desktop' %}" style="margin-right:-8px; margin-top:-5px;">
                                <img alt="Brand" src="https://lut.im/7trApsDX08/GeilMRp1FIm4f2p7.png" width="30px" height="30px">
                            </a>
                            <a class="navbar-brand" href="{% url 'desktop' %}">WafBlog*</a>
                            <i class="brand_network"><small><small>diaspora* Network</small></small></i>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="{% url 'desktop' %}">Stream</a></li>
                                <li><a href="#">My Activity</a></li>
                                <li><span class="badge badge-important">2</span><a href="#"><i class="fa fa-bell-o fa-lg" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{% url 'desktop' %}">Desktop</a></li>
                                <!--<li><a href="#">About</a></li>-->
                                <li><a href="{% url 'blog:blog-list' %}">Blogs</a></li>
                                <!--<li><a href="#">Categories</a></li>-->
                                <!--<li><a href="#">Contacts</a></li>-->
                                <li><a href="{% url 'blog:blogpost-list' %}">Posts</a></li>

                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                                        <img src="{% if profile.photo %}/blog/media/{{ profile.photo }}/{% else %}https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png{% endif %}" class="img-responsive img-circle" title="{{ profile.user|title }}" alt="{{ profile.user|title }} photo" width="30px" height="30px">
                                    </span>
                                    <span class="user-name">
                                        {{ profile.user|capfirst }}
                                    </span>
                                    <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="navbar-content">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <img src="{% if user.is_authenticated %}{% if user.profile.photo %}/blog/media/{{ user.profile.photo }}/{% else %}https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png{% endif %}{% else %}{% endif %}" alt="Alternate Text" class="img-responsive" width="120px" height="120px" />
                                                        <p class="text-center small">
                                                            <a href="./3X6zm">Change Photo</a></p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        {% if user.is_authenticated %}
                                                            <span>{{ user|capfirst }}</span>
                                                            <p class="text-muted small">
                                                                {{ profile.user.email }}</p>
                                                            <div class="divider">
                                                            </div>
                                                            <a href="./56ExR" class="btn btn-default btn-xs"><i class="fa fa-user-o" aria-hidden="true"></i> Profile</a>
                                                            <a href="#" class="btn btn-default btn-xs"><i class="fa fa-address-card-o" aria-hidden="true"></i> Contacts</a>
                                                            <a href="#" class="btn btn-default btn-xs"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a>
                                                            <a href="#" class="btn btn-default btn-xs"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Help!</a>
                                                        {% else %}
                                                        <!--No User-->
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="navbar-footer">
                                                <div class="navbar-footer-content">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a href="#" class="btn btn-default btn-sm"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="#" class="btn btn-default btn-sm pull-right"><i class="fa fa-power-off" aria-hidden="true"></i> Sign Out</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top:50px;"> </div>




        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="{% if profile.photo %}/blog/media/{{ profile.photo }}/{% else %}https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png{% endif %}" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <h3><i class="fa fa-user-circle" aria-hidden="true"></i> <strong>Bio</strong></h3>
                            {% if profile.bio %}
                                <p>{{ profile.bio|linebreaks|truncatewords:20 }}</p>
                            {% else %}
                                <p>Ask</p>
                            {% endif %}
                            <hr>
                            <h4><i class="fa fa-map-marker" aria-hidden="true"></i> <strong>Location</strong></h4>
                            {% if profile.location %}
                                <p>{{ profile.location }}</p>
                            {% else %}
                                <p>Ask</p>
                            {% endif %}
                            <hr>
                            <h4><i class="fa fa-transgender-alt" aria-hidden="true"></i> <strong>Gender</strong></h4>
                            {% if profile.sexe %}
                                <p>{% if profile.sexe == 2 %}<i class="fa fa-male" aria-hidden="true"></i> Male{% else %}<i class="fa fa-female" aria-hidden="true"></i> Female{% endif %}</p>
                            {% else %}
                                <p>Unknown</p>
                            {% endif %}
                            <hr>
                            <h4><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Birthday</strong></h4>
                            {% if profile.date_naiss %}
                                <p>{{ profile.date_naiss }}</p>
                            {% else %}
                                <p>Ask</p>
                            {% endif %}
                            <hr>
                            <h5><i class="fa fa-globe" aria-hidden="true"></i> <strong>Joined On</strong></h5>
                            {% if profile.joined_on %}
                                <p>{{ profile.joined_on }}</p>
                            {% else %}
                                <p>Unknown</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>











        <div class="col-lg-7 col-md-7 col-sm-10 col-xs-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ profile.user|capfirst }} <small>{{ profile.user.email }}</small> <i class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="John Doe is sharing with you"></i></h1>
                        <div class="dropdown pull-right">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Friends
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Familly</a></li>
                                <li><a href="#"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Friends</a></li>
                                <li><a href="#">Work</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add a new aspect</a></li>
                            </ul>
                        </div>
                    </span>
                    <br><br>
                    <i class="fa fa-tags" aria-hidden="true"></i> <a href="/tags/diaspora" class="tag">#diaspora</a> <a href="/tags/hashtag" class="tag">#hashtag</a> <a href="/tags/caturday" class="tag">#caturday</a>
                    <br><br><hr>
                    <span class="pull-left">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Blogs <span class="badge">{{ profile.blog_set.all|length }}</span></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Posts <span class="badge">42</span></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Contacts <span class="badge">42</span></a>
                    </span>
                    <span class="pull-right">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-at" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Mention"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Ignore"></i></a>
                    </span>
                </div>
            </div>
            <hr>







                <strong>New Post Container</strong>


                <!-- Simple post content example. -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="{% if profile.photo %}/blog/media/{{ profile.photo }}/{% else %}https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png{% endif %}" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                            </a>
                        </div>
                        <h4><a href="#" style="text-decoration:none;"><strong>{{ profile.user|capfirst }}</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> Now</i></a></small></small></h4>
                        <span>
                            <div class="navbar-right">
                                <div class="dropdown">
                                    <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                        <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </span>
                        <hr>
                        <div class="post-content">
                            <!--<p>Simple post content example.</p>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>-->

                        </div>
                        <div class="media">
                            <!--<div class="pull-left">-->
                                <!--<a href="#">-->
                                    <!--<img class="media-object img-circle" src="{% if profile.photo %}/blog/media/{{ profile.photo }}/{% else %}https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png{% endif %}" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">-->
                                <!--</a>-->
                            <!--</div>-->
                            <div class="media-body">
                                <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                                <select name="blog" id="select">
                                    {% for blog in profile.blog_set.all %}
                                    <option value="{{ blog.id }}">{{ blog.theme }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="pull-left">
                                <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>

                        </div>
                        <br>
                        <!--<hr>-->
                        <div>
                            <div class="pull-right btn-group-xs">
                                <a class="btn btn-default btn-xs"><i class="fa fa-files-o" aria-hidden="true"></i> Post!</a>
                                <!--<a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>-->
                                <!--<a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>-->
                                <!--<a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>-->
                            </div>


                        </div>
                        <!--<hr>-->

                    </div>
                </div>












<!-- Utilisation du contexte dans une balise update-holder-->

            {% if profile.blog_set.all %}
                <p><small><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ profile.user|capfirst }} a {{ profile.blog_set.all|length }} Blog(s) pour le moment.</small></p>


                {% for blog in profile.blog_set.all %}
                    <!--Pour tous les Blogs... Faire-->


                    <!--le profile a des blogs-->
                    {% if blog.posts.all %}
                        <!--le blog a des posts-->
                        {% for post in blog.posts.all %}






                                <!--<strong>Simple Post With Picture</strong>-->



                                <!-- Sample post content with picture. -->
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="pull-left">
                                            <a href="#">
                                                <img class="media-object img-circle" src="{% if profile.photo %}/blog/media/{{ profile.photo }}/{% endif %}" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                                            </a>
                                        </div>
                                        <h4><a href="#" style="text-decoration:none;"><strong>{{ profile.user|capfirst }}</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date_post|naturaltime }}</i></a></small></small></h4>
                                        <h6><i class="fa fa-files-o" aria-hidden="true"></i> Post: <a href="{% url 'blog:blogpost-details' post.slug %}">{{ post.titre|capfirst }} </a><small> &rarr; via &rarr; <a href="{% url 'blog:blog-detail' post.blog.slug %}" style="text-decoration:none; color:grey;"><i><i class="fa fa-rss-square" aria-hidden="true"></i> <strong>Blog: {{ blog.theme|capfirst }} </strong></i></a></small></h6>
                                        <span>
                                            <div class="navbar-right">
                                                <div class="dropdown">
                                                    <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                                        <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                                                        <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                                                        <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                                                        <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </span>

                                        <hr>
                                        <div class="post-content">




                                            {% if post.illustration %}
                                                <!--Le Post a une image-->
                                                            <center><img class="img-responsive" src="/blog/media/{{ post.illustration }}/"></center><br />

                                            {% else %}
                                                <!--Le Post na pas d image-->

                                                <strong>Post Sans Illustration</strong>

                                            {% endif %}





                                            <p>{{ post.text|linebreaks|truncatewords:200 }}</p>
                                            <p><br><a href="/tags/christmas" class="tag">#Christmas</a> <a href="/tags/caturday" class="tag">#Caturday</a></p>
                                        </div>
                                        <hr>
                                        <div>
                                            <div class="pull-right btn-group-xs">
                                                <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
                                                <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                                                <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                                            </div>
                                            <div class="pull-left">
                                                <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public <strong>via mobile</strong></p>
                                            </div>
                                            <br>
                                        </div>
                                        <hr>


                                        {% if post.postcomments.all %}
                                            <!--<p><strong>Il y a les {{ post.postcomments.all|length }} commentaire(s) ... </strong></p>-->
                                                <a class="btn btn-default btn-xs"><i class="fa fa-bars" aria-hidden="true"></i> Show {{ post.postcomments.all.count|add:"-1" }} more comments</a>
                                                <hr>


                                            {% for postcomm in post.postcomments.all %}
                                                <!--Commentaire Blog:<strong>{{ postcomm.auteur }}</strong><br />-->

                                                        <!--Debut Commentaires-->
                                                        <div class="post-content">
                                                            <div class="panel-default">
                                                                <div class="panel-body">
                                                                    <div class="pull-left">
                                                                        <a href="#">
                                                                            <img class="media-object img-circle" src="/blog/media/{{ postcomm.auteur.photo }}/" width="35px" height="35px" style="margin-right:8px; margin-top:-5px;">
                                                                        </a>
                                                                    </div>

                                                                    <h4><a href="#" style="text-decoration:none;"><strong> {{ postcomm.auteur|capfirst }} </strong></a></h4>
                                                                    <hr>
                                                                    <div class="post-content">
                                                                        Wrote:<br><br>
                                                                        {{ postcomm.commentaire|linebreaks }}
                                                                        <br><small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> &rarr; {{ postcomm.date_comm|naturaltime }}</i></a></small></small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <!--Fin Commentaire plus ligne de division pour la page-->



                                            {% endfor %}

                                        {% else %}
                                            <p><strong><i class="fa fa-comments-o" aria-hidden="true"></i> Ce Post n'a aucun commentaire pour l'instant.</strong></p>

                                        {% endif %}

                                        {% if user.is_authenticated %}
                                            <div class="media">
                                                <div class="pull-left">
                                                    <a href="{% url 'profile:viewuserprofile' user.profile.id %}">
                                                        <img class="media-object img-circle" src="{% if user.profile.photo %}/blog/media/{{ user.profile.photo }}/{% else %}https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png{% endif %}" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                                                </div>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>

                        {% endfor %}

                    {% else %}
                        <!--le profile n a aucun post-->
                        <!--<p>No Post Yet</p>-->
                    {% endif %}
                    <!--<strong>Blog: {{ blog.theme }} </strong>-->
                    <!--<br />-->
                {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>Il y a 000 Blog pour ce mec.</p>



                <strong>Simple Post</strong>


                <!-- Simple post content example. -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="/blog/media/{{ profile.photo }}/" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                            </a>
                        </div>
                        <h4><a href="#" style="text-decoration:none;"><strong>{{ profile.user|capfirst }}</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>
                        <span>
                            <div class="navbar-right">
                                <div class="dropdown">
                                    <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                        <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </span>
                        <hr>
                        <div class="post-content">
                            <p>Simple post content example.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                        </div>
                        <hr>
                        <div>
                            <div class="pull-right btn-group-xs">
                                <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
                                <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                                <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                            </div>
                            <div class="pull-left">
                                <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
                            </div>
                            <br>
                        </div>
                        <hr>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                                </a>
                            </div>
                            <div class="media-body">
                                <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>





            {% endif %}


<!-- Fin utilisation du contexte dans une balise update-holder-->





            <!--<strong>EndPost</strong>-->


        </div>
    </div>
</div>



{% block javascript %}

    <!-- Custom javascript for this template -->
    <link href="{% static 'assets/js/blog-profile.js' %}" rel="javascript">

{% endblock %}




